article img {
	max-height: 450px !important;
}
section img {
	max-height: 450px !important;
}
form img {
	max-height: 450px !important;
}

main {
	max-width: 1960px;
	margin-left: auto;
	margin-right: auto;
}

.jumboImage {
	height: 80vh;
	background-image: url('../images/BannerMainXL.png');
	background-size: cover;
	background-position: 50% 100%;
	background-repeat: no-repeat;
}

h1, h2 {
	font-family: p22-pouty-pro, sans-serif;
	font-size: 3em;
	font-weight: bold;
	font-style: normal;
}

.fade-in {
	animation: fadeIn ease 1s;
}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

.pop {
	border: solid transparent;
}

.pop:hover {
	border: 1px;
}